button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.button {
	height: 60px;
	text-align: center;
	width: 20%;
}

.button-add {
	height: 45px;
	background: #788ecc;
}